#topo {
    box-sizing: border-box;
    height: 100px;
    width: 1500px;
    margin-bottom: 50px;
    border: 5px solid;
    padding: 5px;
    background-color: aqua;
}

#Enquete {
    height: 350px;
    width: 350px;
    margin-right: 250px;
    border: 2px solid;
    padding: 2%;
    box-sizing: border-box;
    float: left;
    background-color: aquamarine;
}

#Corpo {
    height: 350px;
    width: 1500px;
    border: 2px solid;
    padding: 2%;
    box-sizing: border-box;
    background-color: azure;
}

#Rodape {
    height: 50px;
    width: 1500px;
    padding: 5%;
    box-sizing: border-box;
    background-color: skyblue;
}